
main {
    background-color: #332D2D;
    margin: auto auto;
}
.image-background {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;

}
.character-img {
    width: 100%;
}
.character-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.card-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.character-card{
    width: 100%;
    max-width: 600px;
    margin: 1%;
    display: flex;
    border: 1px solid;
    border-radius: 2%;
    padding: 0.5%;
    color: rgb(245, 245, 245);
}
.loginField { 
    display: flex;
    flex-direction: column;
}
.field {
    width: 30%;
    margin: 20% auto;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 1%;
}