.image-background {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.charcter-card {
    width: 600px;
    display: flex;

}
.character-img {
    width: 100%;
}
.character-info {
    display: flex;
    flex-direction: column;
}